services:
  vivait_delayed_event.normalizer.basic:
    class: Vivait\DelayedEventBundle\Transformer\BasicTransformer
    tags:
      - name: delayed_event.normalizer

  vivait_delayed_event.normalizer.doctrineorm:
    class: Vivait\DelayedEventBundle\Transformer\DoctrineORM
    arguments:
      - @doctrine
    tags:
      - name: delayed_event.normalizer
      
